.footer {
  max-width: 100%;
  display: flex;
  justify-content: center;
  background-color: #afc8ad9d;
  height: 50px;
  align-items: center;
  p {
    color: #739072;
    font-size: 20px;
    font-weight: 500;
  }
}
